body {
  overflow: auto;
}

.calculator {
  bottom: 0;
  color: white;
  font-size: 1.2em;
  height: 330px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
}

.calculator-button {
  border: 1px solid black;
  color: black;
  display: inline-block;
  float: left;
  font-size: 1em;
  height: 48px;
  width: 60px;
}

.calculator-button:hover {
  background-color: black;
  color: white;
  opacity: .7;
  transition: 100ms;
}

.calculator-container {
  background-color: gray;
  text-align: center;
  line-height: 48px;
}

.calculator-display {
  bottom: 0;
  font-size: 3em;
  margin-right: 2px;
  position: absolute;
  right: 0;
}

.calculator-display-container {
  background-color: black;
  height: 80px;
  position: relative;
  width: 240px;
}

.calculator-row {
  height: 48px;
  width: 240px;
}

.calculator-zero {
  background-color: gray;
  height: 48px;
  width: 120px;
}
