body {
  font-family: 'Roboto';
  overflow: scroll;
}

#calculator {
  bottom: 0;
  height: 300px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
}

.calculator-button {
  background-color: #d3d3d3;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: large;
  height: 46px;
  margin-left: -5px;
  position: relative;
  text-align: center;
  width: 56px;
}

.calculator-button:hover {
  background-color: #c3c3c3;
  -webkit-transition-delay: 100ms;
}

.calculator-button:active {
  background-color: #a3a3a3;
  -webkit-transition-delay: 100ms;
}

.calculator-button.zero {
  width: 112px;
}

.calculator-button.operator {
  background-color: #ffa500;
  color: white;
  -webkit-transition-delay: 100ms;
}

.calculator-button.operator:hover {
  background-color: #ff8c00;
  -webkit-transition-delay: 100ms;
}

.calculator-button.operator:active {
  background-color: #ffa588;
  -webkit-transition-delay: 100ms;
}

.calculator-display {
  background-color: #808080;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  color: white;
  height: 77px;;
  margin-left: -5px;
  position: relative;
  width: 227px;
}

#calculator-output {
  bottom: 0;
  font-size: 50px;
  margin-right: 3px;
  position: absolute;
  right: 0;
}

.calculator-row {
  display: block;
  margin-bottom: -5px;
}

.calculator-value {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  position: absolute;
  right: 0;
}
